body {
  margin: 0;
  font-family: Arial;
}
#map {
  height: 100vh;
  width: 100%;
}
h2 {
  position: absolute;
  z-index: 1000;
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
